*{
    padding: 0;
    margin: 0;
}

body, html{
    height: 150vh;
}

body{
    margin: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 6% 50% 30% auto;
    grid-template-areas: 
    "header nav"
    "section section"
    "main main"
    "footer footer";
}

.img_flex{
    height: 270px;
    border: 1px solid rgb(17, 122, 145);
    padding-bottom: 5%;
}

.container{
    height: 1163px;
    width: 1903px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    line-height: 1.5;
    background-image: url(../img/val_bakgrund_card.jpg);
}

.card_flex{
    width: 400px;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #7DA9D5;
    border: 5px solid rgb(11, 141, 170);
    text-align: center
}

#body2{
    margin: 0;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 6% 50% 30% auto;
    grid-template-areas: 
    "header header nav nav"
    "section section section section"
    "main main main main"
    "footer footer footer footer";
}

#main2{
    grid-area: main;
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-areas: 
    "compass middle2 telescope";
}

#section2{
    grid-area: section;
    background-image: url(../img/karta.jpg);
    text-align: center;
}

#hitta_oss{
    font-size: 15rem;
    font-weight: 300;
    padding-top: 12%;
    opacity: 80%;
}

#kart_bild{
    width: 1900px;
    height: 800px;
}

#middle2{
    grid-area: middle2;
    text-align: center;
    padding-top: 14%;
    padding-left: 3%;
}

.li_middle2{
    font-size: 3rem;
    margin: 4rem;
    border: 1px solid rgb(22, 30, 31);
}

#kompass_bild{
    grid-area: compass;
    height: 600%;
    width: 100%;
}

#telescope_bild{
    grid-area: telescope;
    height: 340%;
    width: 88%;
    padding-left: 12%;
}

h1{
    font-size: 500%;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0); 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: left;
    padding-left: 9%;
    text-align: left;
}

#header_title{
    font-weight: normal;
    padding-left: 15%;
}

header{
    z-index: 1;
    grid-area: header;
    background-color: #1ac;
    text-align: center;
    position: sticky;
    top: 0;
}

nav{
    z-index: 1;
    grid-area: nav;
    background-color: #1ac;
    position: sticky;
    top: 0;
}

ul{
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: 100%;
    grid-template-areas:
    "hem hitta meny";
    align-items: center;
    justify-content: center;
    padding-top: 2%;
}

ol{
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: 100%;
    grid-template-areas:
    "hem hitta meny";
    align-items: center;
    justify-content: center;
    padding-top: 2%;
}

a:hover{
    font-size: 102%;
}

.links_nav{
    list-style: none;
    font-size: 40px;
    font-weight: bold;
}

#hem{
    grid-area: hem;
    padding-left: 45%;
}

#hitta{
    width: 50%;
    grid-area: hitta;
    padding-left: 20%;
}

#meny{
    grid-area: meny;
    padding-left: 15%;
}

li a{
    text-decoration: none;
    color: #011830;
    outline-color: black;
    outline: auto;
    outline-width: 1px;
}

section{
    grid-area: section;
    background-color: #91C8FF;
}

#val_bild{
    width: 1903px;
    height: 800px;
}

h2{
    font-size: 300%;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0); 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    padding-top: 2%;
}

#title_section{
    grid-area: title;
    text-align: center;
}

#val_tecknad{
    grid-area: left;
    padding-left: 20%;
}

#text_main{
    grid-area: middle;
    text-align: center;
    padding-top: 2% ;
}

#val_tecknad_2{
    grid-area: right;
    padding-left: 10%;
}

p{
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0); 
    letter-spacing: -1px; 
    line-height: 1; 
    padding-top: 2%;
}

main{
    grid-area: main;
    background-color: #7DA9D5;
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 20% auto;
    grid-template-areas:
    "title title title"
    "left middle right";
}

#logo1{
    grid-area: logo1;
    height: 100px;
    padding-left: 40%;
    padding-top: 17%;
}

#text1{
    grid-area: text1;
    text-align: center;
    padding-top: 40%;
    font-weight: bold;
}

#logo2{
    grid-area: logo2;
    height: 100px;
    padding-left: 33%;
    padding-top: 20%;
}

#text2{
    grid-area: text2;
    text-align: center;
    padding-top: 27.5%;
    font-weight: bold;
}

#logo3{
    grid-area: logo3;
    height: 100px;
    padding-left: 32%;
    padding-top: 20%;
}

#text3{
    grid-area: text3;
    text-align: center;
    padding-top: 40%;
    font-weight: bold;
}

#logo4{
    grid-area: logo4;
    height: 100px;
    padding-left: 18%;
    padding-top: 20%;
}

footer{
    grid-area: footer;
    background-color: #588EC3;
    display: grid;
    grid-template-columns: 14,28% 14,28% 14,28% 14,28% 14,28% 14,28% 14,28%;
    grid-template-rows: auto;
    grid-template-areas:
    "logo1 text1 logo2 text2 logo3 text3 logo4";
}